<!-- Copyright (c) Microsoft Corporation.
Licensed under the MIT license. -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Power BI Embedded sample</title>
    <link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/index.css">
</head>

<body>
    <header class="embed-container col-lg-12 col-md-12 col-sm-12 shadow">
        <p>
            <a href="/home">Power BI Embedded Report Sample</a>
            <a href="/dashboard">Dashboard Sample</a>
            <a href="/bookmarks">Bookmarks Sample</a>
            <a href="/styles">Styles Sample</a>
        </p>
    </header>
    <main class="row">
        <section id="text-container" class="embed-container col-lg-4 col-md-4 col-sm-4 mb-5 ml-5 mt-5">
            <div>
                <p>
                    Select a data source from the following list;
                    <select id="datasource">
                        <option value="beead451-939b-4b80-813e-b42a5777421b">Blue - Imported</option>
                        <option value="042296b7-c4b5-42be-b7df-c409a612276f">Green - Imported</option>
                        <option value="70d3ab1c-b2ab-4b6f-9898-911685986ea5">Red - Imported</option>
                        <option value="ad933eb8-52fa-41bc-904e-dcec29f858ba">Blue - Direct Query</option>
                        <option value="7760f6cb-8e10-483d-bae3-dc9f068d8b3b">Green - Direct Query</option>
                        <option value="3a5b7db0-8fbf-4794-bedd-18ff68f3da54">Red - Direct Query</option>
                        <option value="b99bd515-bbf5-4eec-9df9-88e731bdffba">Blue - MT Direct Query</option>
                        <option value="1fcc7af7-26b2-4138-8d93-f69473df5a11">Green - MT Direct Query</option>
                        <option value="b54e7f0a-aa8d-4dfd-8914-eba02ed43627">Red - MT Direct Query</option>
                        <option value="3da5ea2e-25b0-4331-9d98-5f3de66a814a">MT RLS Direct Query</option>
                    </select>
                </p>
                <p id="user-container">
                    User
                    <select id="user">
                        <option value="Blue">Blue</option>
                        <option value="Green">Green</option>
                        <option value="Red">Red</option>
                    </select>
                </p>
            </div>
        </section>
        <section id="report-container" class="embed-container col-lg-offset-4 col-lg-7 col-md-offset-5 col-md-7 col-sm-offset-5 col-sm-7 mt-5">
        </section>

        <!-- Used to display report embed error messages -->
        <section class="error-container m-5">
        </section>
    </main>
    <footer class="embed-container col-lg-12 col-md-12 col-sm-12 mb-0 mt-4">
        <p class="text-center">
            For Live demo and more code samples please visit <a href="https://aka.ms/pbijs">https://aka.ms/pbijs</a>
            <br>
            For JavaScript API, please visit <a href="https://aka.ms/PowerBIjs">https://aka.ms/PowerBIjs</a>
        </p>
    </footer>
    <script src="lib/jquery/dist/jquery.min.js"></script>
    <script src="lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="lib/powerbi-client/dist/powerbi.min.js"></script>
    <script src="js/index.js"></script>
</body>
</html>