################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.NET Core/Embed for your customers/AppOwnsData/appsettings/appsettings.json
